In [1]:
import pandas as pd

In [2]:
# from https://data.cityofnewyork.us/Public-Safety/NYPD-Arrests-Data-Historic-/8h9b-rp9u
arrests_hist = pd.read_csv('https://data.cityofnewyork.us/api/views/8h9b-rp9u/rows.csv?accessType=DOWNLOAD')

In [3]:
arrests_hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153369 entries, 0 to 5153368
Data columns (total 19 columns):
 #   Column             Dtype
---  ------             -----
 0   ARREST_KEY         int64
 1   ARREST_DATE        object
 2   PD_CD              float64
 3   PD_DESC            object
 4   KY_CD              float64
 5   OFNS_DESC          object
 6   LAW_CODE           object
 7   LAW_CAT_CD         object
 8   ARREST_BORO        object
 9   ARREST_PRECINCT    int64
 10  JURISDICTION_CODE  float64
 11  AGE_GROUP          object
 12  PERP_SEX           object
 13  PERP_RACE          object
 14  X_COORD_CD         float64
 15  Y_COORD_CD         float64
 16  Latitude           float64
 17  Longitude          float64
 18  Lon_Lat            object
dtypes: float64(7), int64(2), object(10)
memory usage: 747.0+ MB

In [4]:
arrests_hist.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,32311380,06/18/2007,511.0,"CONTROLLED SUBSTANCE, POSSESSION 7",235.0,DANGEROUS DRUGS,PL 2200300,M,Q,27,1.0,18-24,M,BLACK,NaN,NaN,NaN,NaN,NaN
1,192799737,01/26/2019,177.0,SEXUAL ABUSE,116.0,SEX CRIMES,PL 1306503,F,M,25,0.0,45-64,M,BLACK,1000555.0,230994.0,40.800694,-73.941109,POINT (-73.94110928599997 40.800694331000045)
2,193260691,02/06/2019,NaN,NaN,NaN,NaN,PL 2203400,F,M,14,0.0,25-44,M,UNKNOWN,986685.0,215375.0,40.757839,-73.991212,POINT (-73.99121211099998 40.75783900300007)
3,149117452,01/06/2016,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,67,0.0,25-44,M,BLACK,998032.0,175598.0,40.648650,-73.950336,POINT (-73.95033556299995 40.648650085000035)
4,190049060,11/15/2018,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0.0,25-44,M,BLACK,1003606.0,185050.0,40.674583,-73.930222,POINT (-73.93022154099998 40.67458330800008)

In [5]:
arrests = arrests_hist.set_index('ARREST_KEY')

In [6]:
law_codes = arrests.groupby('LAW_CODE').groups.keys()

In [7]:
len(arrests)

5153369

In [8]:
#Theft of services, transportation is Penal Law 165.15(3)
fare_arrests =  arrests.groupby('LAW_CODE').get_group('PL 1651503')

In [9]:
print(fare_arrests.columns)

Index(['ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD', 'OFNS_DESC', 'LAW_CODE',
       'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT', 'JURISDICTION_CODE',
       'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD', 'Y_COORD_CD',
       'Latitude', 'Longitude', 'Lon_Lat'],
      dtype='object')

In [10]:
#its hard to know if any of the other information can narrow down to just subway fare evasion
# arrests, jurisdictions could be shared, etc.
#writing to csv in order to go to next step, assigning to stations.
fare_arrests.to_csv('Fare Evasion Arrests.csv')

In [11]:
len(fare_arrests)

296473